html, body, main{
  height:100%
}

body {
  margin: 0;
}

header {
  flex: 0 1 auto;
}


main {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
  text-align: center;
}

.container{
  display: flex;
  flex-flow: column;
  height:100%
}

.content {
  height: 100%;
}


#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
